block header
header
	div.header
		a(href="/").logo
			h1= title
		div.menu
			ul
				li
					a(href='/portfolio')= 'Портфолио'
				li.md-menu='•	'
				li
					a(href='/prices')= 'Цены'
				li.md-menu='•	'
				li
					a(href='/feedback')= 'Отзывы'
				li.md-menu='•	'
				li
					a(href='/about')= 'Обо мне'
				li.md-menu='•	'
				li
					a(href='/contacts')= 'Контакты'